@model CarBaseFinal.Models.OrderModel
@{
    ViewData["Title"] = "Автосалон";
}


<form method="post" action="">
    <table>

        @foreach (var car in Model.OrderList!)
        {

            <tr>
                <td><p>Имя клиента:  </p></td>
                <td><input type="text" value="" name="ClientName" /> </td>
            </tr>

            <tr>
                <td><p>Номер телефона:  </p></td>
                <td><input type="text" value="" name="ClientPhone" /> </td>
            </tr>

            <tr>
                <td><p>CarID:  </p></td>
                <td><input type="text" value="@car.CarID" name="CarID" /> </td>
            </tr>

            <tr>
                <td><p>Mark: </p></td>
                <td><input type="text" value="@car.Mark" name="Mark" /> </td>
            </tr>

            <tr>
                <td><p>Model:</p></td>
                <td> <input type="text" value="@car.Model" name="Model" />  </td>
            </tr>


            <tr>
                <td><p>Type:</p></td>
                <td> <input type="text" value="@car.Type" name="Type" />  </td>
            </tr>


            <tr>
                <td><p>Color:</p></td>
                <td> <input type="text" value="@car.Color" name="Color" /> </td>
            </tr>

            <tr>
                <td><p>Kol:</p></td>
                <td> <input type="text" value="@car.Kol" name="Kol" /> </td>
            </tr>

            <tr>
                <td><p>Price:</p></td>
                <td> <input type="text" value="@car.Price" name="Price" /> </td>
            </tr>

            <tr>
                <td><input type="submit" value="Оформить заказ" /> </td>
                <td></td>
            </tr>
        }

    </table>
</form>
